<!DOCTYPE html>
<html>
    <head>
        <title>First Draft Of Chat App</title>
    </head>
    <body>
        <h1>Chat App</h1>
        <div id="message-box"></div>
        <input type="text" id="message-input" placeholder="What do you have in mind?">
        <button id="send-btn">Send</button>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.js">/* I'm not even sure if this src is supposed to load first */ </script>
        <script>/* I hate JS maaaan */
            var socket = io.connect('http://' + document.domain + ':' + location.port);

            socket.on('message', function(data){
                var messageBox = document.getElementById('message-box');
                var messageDiv = document.createElement('div');
                messageDiv.textContent = data.username + ': ' + data.message; // edited this line so it also displays the username with the message sent
                messageBox.appendChild(messageDiv);
            });

            var username = '{{ username }}';
            document.getElementById('send-btn').onclick = function() {
                var messageInput = document.getElementById('message-input');
                var message = messageInput.value;
                socket.emit('message', {'username': username, 'message': message});
                messageInput.value = '';
            };
        </script>
    </body>
</html>