<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <link rel="stylesheet" href="css/font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="css/font-awesome-4.7.0/css/font-awesome.min.css">
    <title>Homepage</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg nav-underline"
            style=" background-image: linear-gradient(to right, #a517ba,#5f1178);">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ url_for('main.index') }}">POLL UNIT</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse jusify-content-end" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" style="color:white;" aria-current="page" href="{{ url_for('main.index') }}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('auth.register') }}">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Poll</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">FAQs</a>
                        </li>
                    </ul>
                    <form class="d-flex search" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn searchbtn" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <section id="banner">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mb-5 text-center">
                    <h1 class="h1banner text-center font-weight-bold"> Online Poll System</h1>
                    <p>We believe that everyone's opinion is valuable. Our user-friendly platform empowers you to voice
                        your thoughts on a wide range of topics that matter to you. Whether it's about the latest
                        trends, social issues, or just your personal preferences, your voice deserves to be heard.</p>
                    <a href="{{ url_for('auth.login') }}"><button class="btn votebtn"> Create a free poll now</button></a>
                </div>
                <div class="col-md-6 mb-5">
                    <img src="{{ url_for('static', filename='img/banner1.svg') }}" alt="banner image" class="img-fluid" style="padding-top:70px;">
                </div>
            </div>
        </div>
    </section>
    <div class="pt-5">
        <h1 class="text-center mt-5">Online Poll System</h1>
        <img src="{{ url_for('static',filename='img/handpoll.avif') }}" width="100%" height="auto">
        <div class="text-center">
            <a href="{{ url_for('auth.login') }}"> <button type="button" class="btn votebtn">Create a free poll now</button> </a>
        </div>

    </div>
    <!----About Section-->
    <section id="about">
        <div class="container-fluid">
            <div class="row">
                <div class="pt-4 mb-5 col-md-6">
                    <img class="pt-4 mb-5" src="{{ url_for('static', filename='img/about.png') }}" width="500px" height="auto" alt="about us">
                </div>
                <div class="col-md-6 ms-auto">
                    <h4 class="col-md-12 mt-5 pt-5 text-center text-white"> About Our Online Polling system </h4>
                    <p class="col-md-12 text-white text-center"> We are a revolutionary online polling system committed
                        to amplifying your voice and shaping the future through the power of collective opinions.Our
                        mission is clear—to provide a dynamic and inclusive platform where individuals from all walks of
                        life can express their thoughts, contribute to meaningful discussions, and influence decisions
                        that matter. We believe in the democratic potential of opinions, and we are here to empower you
                        to be an active participant in shaping the world around you.</p>
                </div>
            </div>
        </div>

    </section>
    <!--Contact us Section-->
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center pt-5 mt-5 mb-5 pb-5 text-contact">
                        <h1>Contact Form </h1>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="contact-form-home">
                        <h1 class="text-center pt-3 pb-5">Contact Form </h1>
                        <form class="needs-validation" novalidate>
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <label for="validationCustom01" class="form-label">First name</label>
                                    <input type="text" class="form-control" id="validationCustom01" required>
                                    <div class="invalid-feedback">
                                        Enter your first name
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="validationCustom02" class="form-label">Last name</label>
                                    <input type="text" class="form-control" id="validationCustom02" required>
                                    <div class="invalid-feedback">
                                        Enter your last name
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-10 mb-3">
                                    <label for="validationCustom03" class="form-label">Email Address</label>
                                    <input type="text" class="form-control" id="validationCustom03" required>
                                    <div class="invalid-feedback">
                                        Please provide a valid email address.
                                    </div>
                                </div>
                                <div class="col-md-10 mb-3">
                                    <label for="validationCustom05" class="form-label">Message</label>
                                    <textarea type="text" cols="20" rows="5" class="form-control"
                                        id="validationCustom05" required></textarea>
                                    <div class="invalid-feedback">
                                        Please enter a message.
                                    </div>
                                </div>
                            </div>


                            <button class="submitBtn mt-3 mb-3" type="submit">Submit </button>
                        </form>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="contactImg">
                        <img src="{{ url_for('static', filename='img/contact-us.png') }}" width="100%" alt="contact">
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    <!---footer-->
    <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-10">
                    <div class="footer-social">
                        <ul class="d-flex list-unstyled p-2 footer__social__ul">
                            <li><a href="{{ url_for('main.index') }}">Home</a></li>
                            <li><a href="{{ url_for('auth.register') }}">Register</a></li>
                            <li><a href="#">Poll</a></li>
                            <li><a href="#">FAQs</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 p-4 jusify-content-end">
                    <div class="social-icons">
                        <a href="#" class="text-decoration-none me-3 fs-5">
                            <i class="fa fa-whatsapp" aria-hidden="true"></i>
                        </a>
                        <a href="#" class="text-decoration-none me-3 fs-5">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                        <a href="#" class="text-decoration-none me-3 fs-5">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                        <a href="#" class="text-decoration-none me-3 fs-5">
                            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                        </a>
                        <a href="#" class="text-decoration-none fs-5">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
    </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (() => {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            const forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.from(forms).forEach(form => {
                form.addEventListener('submit', event => {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
        })()
    </script>
</body>

</html>